<%= form_for @player, url: player_path do |f| %>
<%= f.label :nickname %>
  <%= f.text_field :nickname %><br />
  <%= f.label :rank %> 
  <%= f.text_field :rank %><br />
  <%= f.label :charisma %>
  <%= f.text_field :charisma %><br />
  <%= f.label :wisdow %>
  <%= f.text_field :wisdow %><br />
            
  <%= f.submit "Create" %>
<% end %>