<p>
	<strong>nickname</strong>
<%= @player.nickname %><br />
<strong>rank</strong>
<%= @player.rank %><br />
<strong>charisma</strong>
<%= @player.charisma %><br />
<strong>wisdow</strong>
<%= @player.wisdow %><br />
<%= link_to "Edit", edit_player_path %><br />
<%= link_to "Back", players_path %>

</p>